.menu li{
	display: inline-block;
}
.dieyna{
	width: 100%;
	background-color: purple;
	padding: 10px;
	position: fixed;
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: cursive;
}
.logo a span{
		color: black;

}
.dieyna .max-widht{
	justify-content: space-between;
	display: flex;
	width: 1200px;
	margin: auto;
	padding-top: 20px;
}
.logo a {
	color: white;
	font-size: 40px;
	font-weight: 200;
}

.menu li a{
	color: white;
	font-size: 20px;
	font-weight: 200px;
	margin-left: 25px;
	transition: color 4s;
	}
.page1{
	height: 800px;
	background-image:url("ppp.jpg");
	display: flex;
	

}
.page1 .max-widht #pharase1{
	font-size: 40px;
	font-weight: 600;
	padding-top: 50px;
	color:white;

}
.page1 .max-widht #pharase1{
	font-size: 40px;
	font-weight: 600;
	

}.page1 .max-widht #pharase2{
	font-size: 40px;
	font-weight: 600;
	color: purple;
	


}
.page1 .max-widht #pharase3 {
	font-size: 40px;
	font-weight: 600;
	color:white;
	

}
.page2 .div-rignt .text {
	font-size: 35px;
}
.mariama{

	width: 100%;
	background-color: purple;
	padding: 10px;
	padding-top: 10px;
}
.mariama .max-widht{
	justify-content: space-between;
	display: flex;
	width: 1000px;
	margin: auto;
	height: 5;
	margin-top: 0px;
	padding-top: 10px;

}
.title1{
	text-align: center;
	font-size: 40px;
	padding-top: 0px;
	text-decoration: underline purple;
	padding-bottom: 60px;
}
.page3 a{
	color: purple;
	text-align: center;
	font-size: 25px;


}
table{
	text-align: center;
	background: pink;
	color:white;
	height:300px;
	transition: color 8s;
}
.page3{
	text-align: center;
	padding-bottom: 100px;

}
#bloc_page{
	margin: auto;
	margin-left: 200px;
	margin-top: 50px
	margin-bottom:100px;

}
.awa{

	width: 100%;
	background-color: purple;
	padding: 10px;
}
.awa .max-widht{
	justify-content: space-between;
	display: flex;
	width: 1000px;
	margin: auto;
}
footer{
	background: black;
	color: white;
	width:100%;
	margin-top: 550px;
	height: 30px;
	text-align: center;
	padding-top: 10px;

}
.kine span{
	color:purple;
}
.fatou span{
	color:purple;
}
.fatou img{
	width: 90px;
	border-radius: 80%;
	height: 90px;
	border: solid purple 3px;
	box-shadow: purple;
}
td{
	border:solid white;
}
.page2 a{
	display: inline-block;
	color: white;
	font-size: 40px;
	font-weight: 400;
	background-color: purple;
	border:2px solid purple;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
	transition: color 5s;
	

}

.page2 a:hover{
	
	background-color: pink;
	color: purple;		
}
.menu li a:hover{
	color: black; 
}


.page2 .max-width{
	height:
	width:50px;
	margin-top: 30px;
}
.page2-Coumba{
	display: flex;
	justify-content: space-between;
}
.ndeye-right{
	position: right;
	font-size: 20px;
}
.ndeye-left .text{
	position: left;
	font-size: 20px;
}
.page2-coumba img{
	box-shadow: blue;
}
.page1 .max-width #pharase3 span{
	color: purple;
}
.page1 .page1-ndeye{
	padding-top: 100px;
	padding-left: 70px;
}
.page1 a{

	display: inline-block;
	color: white;
	font-size: 40px;
	font-weight: 400;
	background-color: purple;
	border:2px solid purple;
	border-radius: 20px;
	padding: 10px 40px;
	margin-top: 20px;
	transition: color 5s;
}
.page1 a:hover{
	
	color: purple;	
	background-color: pink;
	
}
.ndeye-left{
	/*padding-left: 90px;*/
	border-radius: 80px;
	margin-left: 70px;
}
.text{
	font-size: 30px;
	font-weight: 600;

}
.text span{
	color:purple;
}
.page1-ndeye span{
	color:purple;

}
.abdou .adama{
	text-align: center;
	float: right;
	position:right;
	margin-top: 50px;
	margin-right: 300px;
}
.abdou .adam{
	text-align: left;
	float: left;
	position:left;
	margin-top: 10px;
	margin-left: 100px;

}

.MESSAGE a{
	display: inline-block;
	color:white;
	font-size: 20px;
	font-weight: 80;
	background-color: purple;
	border-radius:8px;
	padding:5px;	
	margin-top: 10px;
	transition: color 5s;
}
.MESSAGE a:hover{
		
	background-color: pink;
}

.adama span{
	font-size: 20px;
	font-family:
	margin-top:100px;
}
.adam span{
	font-size: 20px;
	margin-top: 70px;

}
.donne img{
	width: 40px;
	border-radius: 80%;
	height: 40px;
	text-align: center;
	
}
h5{
	float: right;
	margin-right:400px;
	margin-top: 20px;

}
table:hover{
	background-color: black;
}
h3{
	background-color: purple;
	color: white;
	border-radius: 10px;
}
.text2 {
	margin-top: 25px;
	font-size: 20px;
}
h3 span{
	margin-top: 30px;
}


	
